body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgb(255, 255, 255);
  border: 2px solid #ccc;
  box-shadow: 6px 10px 7px 4px rgb(189 210 214 / 68%);
  padding: 20px;
  width: 300px;
  border-radius: 6px;
  background-image: url("https://img.freepik.com/premium-vector/back-school-pattern-background-set-different-drawings-related-school-seamless-vector-texture_153454-7508.jpg?semt=ais_user_personalization&w=740&q=80");
}

.in {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

input {
  width: 70%;
  padding: 6px;
  font-size: large;
}

button {
  padding: 6px 10px;
  margin-left: 5px;
  cursor: pointer;
  background-color: rgb(51, 51, 234);
  color: white;
  border-radius: 5px;
}

ul {
  margin-top: 15px;
  padding: 0;
}

li {
  list-style: none;
  background: #eee;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  overflow: scroll;
  border-radius: 5px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}