body{
    text-align: center;
}
h1{  
    text-shadow: -4px 4px 4px #ff4343;
}
h2{
    color: rgb(96 82 82);
    text-shadow: -5px 5px 7px black;
}
.btn{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid black;
    margin: em;
    text-align:center;
}
.btn1{
    border-radius: 228% 67% 46% 50%;
}
.btn2{
    border-radius: 25% 26% 28% 116%;
}
.btn3{
    border-radius: 51% 237% 37% 54%;
}
.btn4{
    border-radius: 72% 63% 289% 69%;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:10px solid black ;
    border-style:double ;
    border-radius: 50% 50% 50% 50%;
    width: 40em;
    height: 40em;
    margin-top: 2em;
    margin-left: 15em;
}
.red{
    background-color: rgb(236, 127, 147);
}
.yellow{
    background-color: rgb(255, 178, 77);
}
.green{
    background-color: rgb(26, 249, 175);
}
.purple{
    background-color:rgb(55, 197, 244);
}


.flash{
    background-color: rgb(255, 255, 255);
}
.userflash{
    background-color: rgb(10, 45, 11);
}
@media (max-width:400px){
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}   
button{
    border-radius: 20%;
    padding: 0.5em 2em;
    background-color: rgb(162, 162, 232);
    color: white;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:10px solid black ;
    border-style:double ;
    border-radius: 50% 50% 50% 50%;
    width: 25em;
    height: 25em;
    margin-top: 2em;
    margin-left: 15em;
    position: relative;
    right: 15em;
}
.btn{
    height: 170px;
    width: 170px;
    border: 5px solid black;
   
    text-align:center;
   
}
.red{
    background-color: rgb(236, 127, 147);
}
.yellow{
    background-color: rgb(255, 178, 77);
}
.green{
    background-color: rgb(26, 249, 175);
}
.purple{
    background-color:rgb(55, 197, 244);
}

.td{
    position: relative;
    left: 2em;
}
}